<%= link_to "ログイン", tweets_path %>
<%= link_to "新規登録", new_user_registration_path %>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>CSSの練習</title>
    <!--変更した部分は以下の一行！！-->
    <link rel="stylesheet" type="text/css" href="stylesheets/index.css">

<body>

    <header>

    </header>

  <div class="first-block">
  </div>
  <div class="second-block">
  </div>
  <div class="third-block">
  </div>

  <footer>

  </footer>

</body>

<header class="header-nav">
    <nav><a href=".first-block">Home</a></nav>
    <nav><a href=".second-block">About me</a></nav>
    <nav><a href=".third-block">Recent Activity</a></nav>
  </header>

</html>